.popup_backdrop {
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  background-color: rgba(38, 38, 42, 0.7);
  top: 0;
  width: 100vw;
  height: 100vh;
  border: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &.hidden {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.popup_header {
  display: flex;
  align-items: center;
  margin-top: -15px;
  padding-left: 50px;
}

.popup_container {
  background-color: #1f1f23;
  border: 1px solid #2e2e32;
  color: #dadada;
  padding: 25px;
  border-radius: 10px;
  width: 80vw;
  height: 75vh;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateY(10px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.hidden {
    opacity: 0;
    transform: translateY(10px);
  }
}

.close_button {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 100;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .close_icon {
    color: #ff7f7f;
    transform: scale(1.1);
  }
}

.close_icon {
  color: #48484e;
  font-size: 26px;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.popup_content_wrapper {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;

  &.content_visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup_title {
  font-size: 1.5rem;
  color: #dadada;
  margin-bottom: 20px;
  text-align: center;
}

.popup_content {
  flex-grow: 1;
}
