.main_wrapper {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  gap: 30px;
  width: 100%;
}

.left_box {
  flex: 1;
  padding: 0 30px;
  background: #26262a;
  border: 1px solid #2e2e32;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    color: #dadada;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .input_group,
  .contact_row,
  .billing_stacked_infos {
    width: 100%;
  }
}

.input_with_icon {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;

  .icon_inside_input {
    position: absolute;
    left: 14px;
    font-size: 16px;
    color: #48484e;
    pointer-events: none;
  }

  .input_field {
    padding-left: 40px;
    padding-right: 12px;
    background: #1f1f23;
    color: #dadada;
    border: 1px solid #2e2e32;
    border-radius: 8px;
    width: 100%;
    height: 30px;
    font-size: 12px;
    transition:
      border 0.3s ease,
      background-color 0.3s ease,
      color 0.3s ease;

    &:focus {
      outline: none;
      background-color: #26262a;
      border-color: #e29c23;
    }

    &::placeholder {
      color: #cacaca;
      opacity: 0.8;
    }

    &:-webkit-autofill {
      background-color: #33353a !important;
      color: #dadada !important;
      border-color: #ffa726 !important;
      -webkit-text-fill-color: #dadada !important;
      box-shadow: 0 0 0 30px #33353a inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:-webkit-autofill:focus {
      border-color: #e29c23 !important;
      box-shadow: 0 0 0 30px #26262a inset;
    }
  }

  .error_text {
    position: absolute;
    top: calc(100% - 6px);
    left: 0;
    color: #ff4d4f;
    font-size: 10px;
  }
}

.error_border {
  border-color: #ff4d4f !important;
}

.contact_row,
.billing_stacked_infos {
  display: flex;
  gap: 20px;
  width: 100%;

  .input_with_icon {
    flex: 1;
    max-width: 100%;
  }
}

.button_group {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 10px;

  button {
    padding: 6px 24px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color: #1f1f23;
    background: #e29c23;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    &:hover {
      background: #d18c1f;
      transform: translateY(-2px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    }

    &:nth-child(1) {
      background: transparent;
      color: #cacaca;
      box-shadow: none;

      &:hover {
        background: #3d3d44;
        transform: none;
      }
    }
  }
}

.options_section {
  padding: 0 15px;
  background: #26262a;
  border-radius: 12px;
  flex: 0.5;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.label_name {
  font-size: 12px;
  color: #cacaca;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option_item {
  background-color: #1f1f23;
  border: 1px solid #2e2e32;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  padding-left: 12px;
  color: #dadada;
  opacity: 0.7;

  h4 {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    color: #dadada;
  }

  p {
    margin: 0;
    color: #cacaca;
    font-size: 10px;
  }

  &:hover {
    cursor: not-allowed;
  }
}

.option_icon {
  font-size: 16px;
  color: #e29c23;
}
