.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image {
  width: 20%;
  height: 20%;
  object-fit: contain;
}

.text_error {
  font-size: 18px;
  font-weight: bold;
  color: #dadada;
}
