.placeholder {
  background-color: #2a2a2e;
  border-radius: 4px;
  animation: loading 1.5s infinite ease-in-out;
  display: inline-block;
  width: 100%;
}

.placeholder.integer {
  height: 16px;
  width: 30px;
}

.placeholder.small {
  height: 16px;
  width: 70%;
}

.placeholder.large {
  height: 24px;
  width: 150px;
}

@keyframes loading {
  0% {
    background-color: #2a2a2e;
  }
  50% {
    background-color: #3b3b3f;
  }
  100% {
    background-color: #2a2a2e;
  }
}
